Planet.dat
Evolve.dat
evolvetest.dat

.ipynb_checkpoints/Radiogenic-Tracks-checkpoint.ipynb
.ipynb_checkpoints/BrainstormTracking-checkpoint.ipynb
.ipynb_checkpoints/Impact-Testing-0-checkpoint.ipynb
